html {
  padding-top: 5px;
  background-image: url(/8/background.jpg);
}
body {
  width: 75%;
  padding: 40px;
  margin: 15px auto;
  background-color: #ebebeb;
  border-radius: 30px;
}

h1 {
  color: #e87e04;
  font-size: 2em;
  margin-left: 20px;
  font-family: 'Roboto Condensed' sans-serif;
}
h2 {
  color: #e87e04;
  font-size: 1.2em;
  margin-left: 20px;
  font-family: 'Roboto Condensed' sans-serif;
}
p {
  color: #22313f;
  line-height: 150%;
  margin: 20px 20px 0 0;
  font-family: 'Roboto Condensed' sans-serif;
}
